@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* Custom color palette */
  --color-blue-dark: #14233C;
  --color-blue-medium: #2CA9E1;
  --color-blue-light: #262D44;
  --color-green-aqua: #3FD1B8;
  --color-gray-light: #E0E6EB;
  --color-white: #FFFFFF;
  --color-black-soft: #202A35;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
